{% extends "base.html" %}
{% block content %}
    <div class="card" style="width: 24rem;">
  <img src="/static/image/20220306_005114.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vacuum Skeleton</h5>
    <p class="card-text">배큠 데모를 위한 사이트 입니다.</p>
    <a href="{% url 'home' %}" class="btn btn-dark">홈으로</a>
  </div>
</div>
{% endblock %}