{% extends "base.html" %}
{% block content %}
    {% if object_list %}
        <table class="table table-hover mb-4">
        <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">아이디</th>
            <th scope="col">게시일</th>
        </tr>
        </thead>
        <tbody>

        {% for blog in object_list %}
            <tr>
                <td><a class="text-muted text-decoration-none"
                       href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a></td>
                <td class="text-decoration-none">{{ blog.blog_user }}</td>
                <td class="text-decoration-none">{{ blog.updated|date:'Y-m-d H:i' }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>There's no blog content</p>
    {% endif %}

</tbody>
</table>
    <div class="d-grid gap-2 d-md-flex mb-4">
        <a class="btn btn-dark me-md-2" href="{% url 'blog-create' %}" role="button">글쓰기</a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-1">
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                            <a class="page-link text-muted" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}

                        {% for page in paginator.page_range %}
                            <li class="page-item"><a class="page-link text-muted"
                                                     href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="page-link text-muted" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}