{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <title>Skeleton</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-sm">
            <a class="navbar-brand" href="{% url 'home' %}">Vacuum skeleton</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'blog-about' %}">Skeleton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'blog-index' %}">게시판</a>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <span class="nav-link active"> {{ user.username }}님 </span>
                        <a class="nav-link active" href="{% url 'logout' %}">로그아웃</a>
                    {% else %}
                        <a class="nav-link active" href="{% url 'login' %}">로그인</a>
                        <a class="nav-link active" href="{% url 'register' %}">회원가입</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
<div class="container" style="height: 50px"></div>
</header>
<div class="container-sm">
{% block content %}{% endblock %}
</div>
</body>
</html>